.form-save-employee {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

.form-save-employee-field{
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #FFF;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.form-save-employee-field .inpt{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
	outline: none;
	background-color: #fff;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.form-save-employee-field .inpt:hover{
	transition: 0.5s ease-in-out;
	filter: brightness(85%);
}

.form-save-employee-field .inpt:focus{
    border: 2px solid #10AC84;
    background-color: #fff;
}

.form-save-employee .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #10AC84;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 22px;
    font-weight: bolder;
    font-size: 1em;
}

.form-save-employee-select{
    width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
	outline: none;
	background-color: #fff;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	margin-bottom: 22px;
	transition: .3s;
}