
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 2;
    top:-100%;
    display: block;
    transition: 350ms;
}

.modal{
    width: 60%;
    height: 60%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin: 80px auto 0 30px;
    
}

.title-form{
    text-align: center;
    width: auto;
    margin-bottom: 22px;
}

.modal-nav{
    width: 100%;
    height: 45px;
    background-color: #10AC84;
}

.modal span{
    float: right;
    font-size: 30px;
    margin: 0px 15px;
    cursor: pointer;
    transition: 350ms;
}

.modal span:hover{
    color: red;
    transition: 350ms;
}

.form-save-employee {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
}

.form-save-employee-field{
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #FFF;
}

.radio-modal-container{
    display: flex;
    margin-left: 10%;
}

.radio-modal{
    border-color: #10AC84;
    vertical-align: middle;
}

.radio-modal:hover{
    color: #10AC84;
}

.form-inpt{
    width: 100%;
	border: 2px solid #10AC84;
	border-radius: 3px;
	outline: none;
	background-color: #fff;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.form-btn{
    background-color: #10AC84;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: .3s;
    width: 100%;
}